/* some CSS fixes */
head {
	display: none;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Karla';
}
h1, h2, h3, h4{
	font-family: 'Rokkitt';
}

/* navbar styling */
.nav {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000;
	background: #000;
	height: 50px;
}

.nav-links {
	margin: 0;
	padding: 0;
	height: 100%;
}

.nav-links li{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	margin: 0;
	padding: 0;
	height: 100%;
	border-right: 1px solid #fff;
}

.nav-links li a{
	margin: 0;
	padding: 15px 10px;
	/*height: 100%;*/
	display: block;
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
}

.nav-links li:hover{
	background-color: #4c4c4c;
}

.home *{
	font-weight: 600 !important;
}

/* page styling */

.content{
	width: 80%;
	margin: 0 auto;
}

.err{
	text-align: center;
	color: #C70A0A;
}

.msg{
	text-align: center;
	color: #46A241;
}

#image{
	margin: 40px auto;
	max-width: 100%;
	border: 5px solid #000;
	display: block;
}

.title {
	text-align: center;
}

.tags {
	text-align: center;
}

.noimage{
	font-size: 48px;
	text-align: center;
}

/* submit image styling */

.addImg input{
	display: block;
	margin-bottom: 20px;
}

.addImg label{
	font-family: 'Rokkitt';
	font-weight: 500;
	font-size: 24px;
	margin-top: 15px;
}

.addImg input[type=text]{
	border: 2px solid #000;
	width: 300px;
	font-size: 18px;
}

.addImg input[type=submit]{
	background: #fff;
	background-color: #fff;
	border: 2px solid #000;
	font-family: 'Rokkitt';
	font-size: 24px;
	margin-top: 20px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}

.addImg input[type=submit]:hover{
	background-color: #c4c4c4;
}

.img-container {
	margin: 15px;
	width: 30%;
	overflow: hidden;
	display: inline-block;
	border: 5px solid #000;
}

.img-container .buffer {
	width: 100%;
	padding-top: 100%;
	position: relative;
}

.img-container .buffer .inner img {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#taglink {
	position: absolute;
	margin-top: -50%;
	margin-left: 10%;
	width: 80%;
	height: 10%;
	background: #fff;
	background-color: #fff;
	border: 3px solid #000;
	overflow: hidden;
}

#taglink a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	font-size: 200%;
	font-family: "Rokkitt";
	color: #000;
	text-align: center;
	padding-top: 5px;

	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

#taglink a:hover {
	background: #c4c4c4;
	background-color: #c4c4c4;
}

.g-recaptcha {
	margin-top: 15px;
}

.source {
	text-align: center;
}

.d-url {
	text-align: center;
}

/* mobile styling */
@media (max-width: 719px) and (min-width: 100px){
	.nav-links li {
		width: 33%;
		display: block;
		float: left;
	}

	.nav-links li a{
		text-align: center;
	}

	.nav-links li:last-child {
		border-right: none;
	}

	.nav-links {
		width: 100%;
	}

	.nav {
		height: 50px;
	}

	.addImg input[type=text]{
		width: 100%;
	}

	.addImg input[type=submit]{
		width: 100%;
	}
}

@media (max-width: 1023px) and (min-width: 100px){
		.img-container {
			width: 90%;
			display: block;
			margin-top: 10px;
		}

		#taglink a {
			padding-top: 0px;
		}
}
