{% extends 'base.html' %}
{% block title %}About React.moe{% endblock %}
{% block head %}<meta name="description" content="React.moe is a simple reaction image serving webapp that does the work of choosing an image for you.">{% endblock %}
{% block content %}
<div class="content-inner">
{% filter markdown %}
#What is React.moe?
<hr align="left" width="600px"/>

Need to react to something? We've got you covered.

##How does it help me?

You need a good "smug" reaction, but don't know what to use. Simply link React.moe/smug, and we will do all the work for you.

##Can I add my own images?

Feel free! However, please keep a couple things in mind when submitting:

- While React.moe is largely unmoderated, offensive, illegal, or identifying images (images containing addresses, phone numbers, or other identifying information about a person) will be removed when they are found. Please observe US and Local law when submitting an image to React.moe.

- When submitting an image, please do your best to add as many appropriate tags as possible. This help diversify the available images for a given tag. However, while there is no tag limit, please refrain from adding unrelated or redundant tags.

- Please refrain from abusing the "report image" feature. This feature is designed to aid us in the removal of rule-offending images or those which may be subject to copyright infringement.

##Usage

To use react.moe, you can simply link http://react.moe/tag. However, if you want to filter for things like NSFW images (default is "false"), you can link "http://react.moe/tag&nsfw=true". You can also filter out animated images, if you need to, by linking "http://react.moe/tag&animated=false".

##Stats

- Number of Indexed Images: {{ images }}
- Number of Indexed Tags: {{ tags }}

##React.moe is in active development. Aside from current features, we plan to add:

- [WebM](http://www.webmproject.org/) and [WebP](https://developers.google.com/speed/webp/) support

- Multi-photo submission

- Direct Photo Uploading

- Private User Profiles with the ability to favorite images, and blacklist tags

*If you see a missing feature you feel we should add, email [suggestions@react.moe](mailto:suggestions@react.moe) and we will consider your suggestion.*

##What is React.moe built on?

React.moe is a python project built with the Flask micro-famework. It is very poorly coded as the one and only admin is a complete novice.

##The site is broken!

If you spot a bug on our site, please email [admin@react.moe](mailto:admin@react.moe) so that we may address the issue ASAP. As React.moe is a very beta webapp, there are bound to be plenty of bugs - if you've got experience with these sort of things and want to pitch a fix, feel free to add it into your email.

##Legal

React.moe is a content aggregate and as such holds no right to any images used herein. If you wish to report an image for copyright violations, please use the "report" button, or email [legal@react.moe](mailto:legal@react.moe) with the image ID so that we may remove the offending content as soon as possible.

{% endfilter %}
<style type="text/css">
  @media (max-width: 719px){
    hr {
      width: 100%;
    }
  }
</style>
</div>
{% endblock %}
