{% extends 'base.html' %}
{% block head %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website"/>
<meta property="og:image" content="{{ img }}" />
<meta property="og:url" content="http://react.moe/img/{{ imgId }}" />
<meta property="og:description" content="{% for tag in tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}" />
<link rel="image_src" href="{{ img }}" />
<meta name="description" content="{% for tag in tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}" />
{% endblock %}
{% block content %}
{% if title %}
  <h2 class="title">{{ title }}</h2>
{% endif %}
{% if img %}
<img id="image" src="{{ img }}" />
<p class="source"><b>Source:&nbsp;</b><a href="{{ img }}">{{ img }}</a></p>
<p class="d-url"><b>React URL:&nbsp;</b><a href="http://react.moe/img/{{ imgId }}">http://react.moe/img/{{ imgId }}</a></p>
<p class="tags"><b>Tags:&nbsp;</b>{% for tag in tags %}{{ tag }}{% if not loop.last %},&nbsp;{% endif %}{% endfor %}</p>
{% endif %}
{% if err %}
<h1 class="noimage">{{ err }}</h1>
{% endif %}
{% endblock %}
